
.bg-box {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  position: absolute;
  background-position: top center;
  background-repeat: no-repeat;
  z-index: -1;
}

.bg-box .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}


.part-intro {
  background: url(../images/bg-intro.png);
  background-repeat: repeat !important;
  background-size: auto !important;
}

#intro {
  z-index: 1;
  position: relative;
  padding-top: 80px;
  text-align: center;
  color: #333333;
  padding-bottom: 100px;
}
#intro h1 {
  color: #333333;
}
#intro .logo-img {
  margin: 0 auto 7px;
  width: 157px;
  height: 150px;
}
#intro .logo-img img {
  width: 100%;
  height: auto;
}
#intro p.title {
  font-family: 'Poiret One', cursive;
  font-size: 2.25em;
  letter-spacing: -0.003em;
  margin-bottom: 15px;
}
#intro span.select-demo {
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: -0.028em;
}
#intro .intro-demo {
  margin-top: 92px;
}
#intro .intro-demo img {
  width: 90%;
  height: auto;
  margin-bottom: 20px;
}

#intro .intro-demo .intro-content {
  margin-bottom: 50px;
  height: 330px;
  max-width: 380px;
  width: 100%;
  position: relative;
  margin: 0 auto 42px;
}

#intro .intro-demo .intro-content span {
  clear: both;
}

#intro .intro-demo .intro-content a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-weight: 300;
  color: #333333;
  -webkit-transform: scale(1, 1);
  -webkit-transition-duration: 300ms;
  -webkit-transition-timing-function: ease-out;
  /* Webkit for Mozila Firefox */
  -moz-transform: scale(1, 1);
  -moz-transition-duration: 100ms;
  -moz-transition-timing-function: ease-out;
  /* Webkit for IE( Version: 11, 10 ) */
  -ms-transform: scale(1, 1);
  -ms-transition-duration: 350ms;
  -ms-transition-timing-function: ease-out;
}

#intro .intro-demo .intro-content a:hover {
  text-decoration: none;
  font-size: 1.5em;
  /* Webkit for Chrome and Safari */
  -webkit-transform: scale(1.11, 1.11);
  -webkit-transition-duration: 300ms;
  -webkit-transition-timing-function: ease-out;
  /* Webkit for Mozila Firefox */
  -moz-transform: scale(1.11, 1.11);
  -moz-transition-duration: 300ms;
  -moz-transition-timing-function: ease-out;
  /* Webkit for IE( Version: 11, 10 ) */
  -ms-transform: scale(1.11, 1.11);
  -ms-transition-duration: 300ms;
  -ms-transition-timing-function: ease-out;
}

/*--------------------------------------------------------------------------*/
/*------------------------- max-width: 479px -------------------------------*/
/*--------------------------------------------------------------------------*/
@media only screen and (max-width: 479px) {
  
  #intro {
    padding-top: 20px;
  }
  /* line 204, ../sass/intro.scss */
  #intro p.title {
    font-size: 1.4em;
  }
  /* line 210, ../sass/intro.scss */
  #intro span.select-demo {
    font-size: 1em;
  }
  /* line 215, ../sass/intro.scss */
  #intro .intro-demo {
    margin-top: 50px;
  }
  /* line 220, ../sass/intro.scss */
  #intro .intro-demo .intro-content {
    height: 250px;
  }
  /* line 223, ../sass/intro.scss */
  #intro .intro-demo .intro-content span {
    font-size: 0.8em;
  }
}
